<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Company Queries</h1>
        <table class="table table-hover">
            <thread>
                <tr>
                    <th scope="col">Company Name</th>
                    <th scope="col">Email</th>
                    <th>Query</th>

                </tr>
            </thread>
            <% if(queries.length > 0){ %>
            <% for(var i = 0 ;i<queries.length;i++){ %>
            <tbody>

                <tr>
                    <th><%- queries[i].CMP_Name %> </th>
                    <th><%- queries[i].Email %> </th>
                    <th><%- queries[i].Q_text %></th>
                </tr>

            </tbody>
            <% } %>
            <% }else{ %>
            <h1>No Queries Found</h1>
            <% } %>
    </div>
</body>

</html>